div {
  width: 8rem;
  height: 4rem;
  border: 2px solid black;
  margin: 0.2rem;
  display: inline-block;
  border-radius: 2rem;
}

.box1 {
  background-color: chartreuse;
}

.box2 {
  background-color: coral;
}

.box3 {
  background-color: darkgoldenrod;
}

.box4 {
  background-color: deepskyblue;
}
